<nav id="navbar" class="navbar navbar-expand-md navbar-light bg-light fixed-top">

    <img src="assets/parrot.png" class="parrot-img">

    <a class="navbar-brand js-scroll-trigger" href="#page-top">Parrot Web Client</a>

    <button type="button" class="play-btn" v-on:click="sendStartOrStopCommand()" ></button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav nav-pills">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#physical-commands">Physical Commands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#manual-command">Manual Command</a>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link js-scroll-trigger" href="#camera">Camrea</a>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#log">Log</a>
            </li>
        </ul>
    </div>

</nav>
<div  class="container-fluid">
    <div id="state" v-bind:class="stateClass" class="alert float-right" role="alert">
        <div class="text-center">
            {{ state }}
        </div>
    </div>
 
    <div id="notif">
    </div>
    <div id="physical-commands" class="row">
        <div class="col-12">
            <hr/>
            <h4>Physical Commands</h4>
        </div>
        <div class="col-md-3 col-sm-4">
            <hr/>
            <div class="row">
                <div class="col-6">
                    <h5 >Lightwheel </h5>
                    <button type="button" class="play-lightWheel-btn"  v-on:click="sendStartOrStopLightWheelCommand()"></button>
                </div>
                <div class="col-6">
                     <h5>Motor1 </h5>
                    <button type="button" class="play-motor-btn"  v-on:click="sendStartOrStopMotor1Command()"></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 text-center" v-for="group in parrotCommands">
            <hr/>

            <h5>{{ group.name }}</h5>

            <div class="btn-group" role="group" :aria-label="group.name">
                <button type="button" class="btn btn-info justify-content-center" style="margin: 2px 2px 2px 2px !important; border-radius: 0 !important;" v-on:click="sendCommand(button.command, button.param)" v-for="button in group.commands">{{ button.name }}</button>
            </div>
        </div>
         <div class="col-12 text-center" v-for="group in intracriveSounds">
            <hr/>
            <div class="row">
                <div class="col-2">
                    <h5>{{ group.name }}</h5>
                </div>
                <div class="col-10">
                    <div class="btn-group" role="group" :aria-label="group.name">
                        <button type="button" class="btn btn-sm btn-info justify-content-center" style="margin: 2px 2px 2px 2px !important; border-radius: 0 !important;" v-on:click="sendCommand(button.command, button.param)" v-for="button in group.commands">{{ button.name }}</button>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-12 text-center" v-for="group in senario1">
            <hr/>
            <div class="row">
                <div class="col-2">
                    <h5>{{ group.name }}</h5>
                </div>
                <div class="col-10">
                    <div class="btn-group" role="group" :aria-label="group.name">
                        <button type="button" class="btn btn-primary btn-sm justify-content-center" style="margin: 2px 2px 2px 2px !important; border-radius: 0 !important;" v-on:click="sendCommand(button.command, button.param)" v-for="button in group.commands">{{ button.name }}</button>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-12 text-center" v-for="group in senario2">
            <hr/>
            <div class="row">
                <div class="col-2">
                    <h5>{{ group.name }}</h5>
                </div>
                <div class="col-10">
                    <div class="btn-group" role="group" :aria-label="group.name">
                        <button type="button" class="btn btn-sm btn-warning justify-content-center" style="margin: 2px 2px 2px 2px !important; border-radius: 0 !important;" v-on:click="sendCommand(button.command, button.param)" v-for="button in group.commands">{{ button.name }}</button>
                    </div>
                </div>
            </div>



        </div>
       
        <div class="col-12 text-center" v-for="group in soundsCommands">
            <hr/>
            <div class="row">
                <div class="col-2">
                    <h5>{{ group.name }}</h5>
                </div>
                <div class="col-10">
                    <div class="btn-group" role="group" :aria-label="group.name">
                        <button type="button" class="btn btn-sm btn-info justify-content-center" style="margin: 2px 2px 2px 2px !important; border-radius: 0 !important;" v-on:click="sendCommand(button.command, button.param)" v-for="button in group.commands">{{ button.name }}</button>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div id="arduino-commands" class="row">
        <div class="col-3">
            <hr/>
            <h4>Arduino Commands</h4>
        </div>
        <div class="col-9">
            <div class="text-center align-content-center" v-for="group in arduinoCommands">
                <hr/>
                <div class="btn-toolbar">

                    <h5 class="btn">{{ group.name }}</h5>

                    <div class="btn-group" role="group" :aria-label="group.name">
                        <button type="button" class="btn btn-info justify-content-center" style="border-radius: 0 !important;" v-on:click="sendCommand(button.command, button.param, 'arduino')" v-for="button in group.commands">{{ button.name }}</button>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div id="manual-command" class="row justify-content-center">


        <div class="col-12">
            <hr/>
            <h4></h4>
            <div class="row">
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon">Manual Command</div>
                        </div>
                        <input id="command-input" v-model="command" class="form-control" type="text" placeholder="command" aria-label="Input group example" aria-describedby="btnGroupAddon">
                    </div>
                </div>
                <div class="col-md-1 col-sm-3">
                    <button v-on:click="sendCommand(command)" class="btn  btn-primary">Send</button>
                </div>
                <div class="col-md-3 col-sm-12 alert alert-info align-self-right">
                    {{ commandResult }}
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<input id="command-input" v-model="command" class="form-control" type="text" placeholder="command">-->
            <!--</div>-->

        </div>
    </div>

    <div class="row" id="log" style="height: calc(100vh - 30px);">
        <hr/>
        <div class="card col-6">
            <div class="card-header" id="headingOne">
                <h3 class="mb-0">
                    <button class="btn btn-lg btn-block btn-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Log
                    </button>
                </h3>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="text-center">
                        <table id="log-table" class="table table-responsive" style="max-height: 100vh;">
                            <thead>
                            <tr>
                                <th scope="col">Level</th>
                                <th scope="col">Node</th>
                                <th scope="col">Message</th>
                            </tr>
                            </thead>
                            <tbody id="log-table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-6">
            <div class="card-header" id="headingTwo">
                <h3 class="mb-0">
                    <button class="btn btn-lg btn-block btn-light" v-on:click="toggleCamera()" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Camera
                    </button>
                </h3>
            </div>
             <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div id="Div1"class="alert alert-primary col-12"  role="alert">
                        <div class="text-center">
                            <div class="row" id="Div2">
                         
                                <div class="col-12">
                                    <div class="text-center">
                                        <img id="Img1" class="img-fluid rounded" :src="videoFrame" alt="camera">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>